<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/jSimpleBlog" />
		<property name="username" value="root" />
		<property name="password" value="sjj!@#$%^" />
		<property  name="initialSize"  value="10"/>
		<property  name="maxIdle"  value="20"/>
		<property  name="minIdle"  value="5"/>
		<property  name="maxActive"  value="50"/>
	</bean>
	<bean id="sessionFactory" class="com.sky.jSimple.data.SessionFactory">
	       <property name="dataSource"  ref="dataSource" />
	</bean>
	<bean id="jSimpleDataTemplate" class="com.sky.jSimple.data.JSimpleDataTemplate">
	       <property name="sessionFactory"  ref="sessionFactory" />
	</bean>
	<bean id="memcachedCacheManager" class="com.sky.jSimple.cache.MemcachedCacheManager">
	        <property name="servers"  value="192.168.153.132:11111 192.168.153.133:11111" />
	        <property name="connectionPoolSize"  value="10" />
	</bean>
	<bean id="cacheProxy" class="com.sky.jSimple.cache.CacheProxy">
	       <property name="cacheManager"  ref="memcachedCacheManager" />
	</bean>
</beans>