<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/jSimpleBlog" />
		<property name="username" value="root" />
		<property name="password" value="sjj!@#$%^" />
	</bean>
</beans>