<h1>编辑分类</h1>
<form name="signup_form" ng-submit="update()">
    <div class="form-group">
        <label for="exampleInputEmail1">输入名称</label>
        <input class="form-control" name="name" ng-model="category.name" placeholder="输入名称" required/>
        <small class="error"
               ng-show="signup_form.name.$error.required">
            必填
        </small>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">输入链接名</label>
        <input name="linkName" class="form-control" ng-model="category.linkName" required placeholder="输入链接名"/>
        <small class="error"
               ng-show="signup_form.linkName.$error.required">
            必填
        </small>
    </div>
    <button type="submit" class="btn btn-default">发布</button>
</form>